body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-container {
  flex: 1;
  padding: 20px;
}

.top-section-container {
  display: flex;
  flex-direction: row;
}

.top-section-button {
  margin-right: 10px !important;
}

.top-section-score-broad {
  flex: 1 1;
  text-align: center;
  padding-top: 2px;
  border: thin solid;
  border-width: 4px;
  border-color: #c2c2c2;
  border-radius: 10px;
}

.game-section-player {
  text-align: center;
}

.game-section-deck {
  display: flex;
  flex-direction: row;
}

.game-section-deck-card {
  width: 33%;
  background: cadetblue;
  border-radius: 5px;
  margin: 2px;
}